{extend name="../public/base"}
{block name='title'}修改用户{/block}
{block name='main'}
<form action="{:url('/admin/post/'.$obj.postID)}" method="post">
    <input type="hidden" name="_method" value="put">
    <fieldset class="w-80 ml-5">
    

        <input type='hidden'id="postID" name="postID" value="{$obj.postID}">
        <input type='hidden'id="postUserID" name="postUserID" value="{$obj.postUserID}">

        <!-- <input type='hidden'id="userID" name="userID" value="{$obj.userID}"> -->

        <div class="form-group row">
            <label for="email" class="col-2 col-form-label">帖子名称</label>
            <div class="col-8">
                <input type="text" id="postTitle" value="{$obj.postTitle}" name="postTitle" class="form-control">
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-2 col-form-label">帖子内容</label>
            <div class="col-8">
                <textarea id="age" name="postContent" class="form-control" rows="5" cols="50">{$obj.postContent}</textarea>

            </div>
        </div>
        <div class="form-group row">
            <label class="col-2"></label>
            <div class="col-6">
                <!-- <label for="agree">
                    <input type="checkbox" id="agree" name="agree">
                   
                </label> -->
            </div>
            <div class="col-2 text-right">
                <a href="{:url('/admin/post')}" class="col-form-label-sm">返回列表
                </a>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2"></label>
            <div class="col-8">
                <input type="hidden" value="{:token()}" name="__token__">
                <button class="btn btn-success w-100">修改内容</button>
            </div>
        </div>
    </fieldset>
</form>
{/block}