{extend name="../public/base"}
{block name='title'}用户列表{/block}
{block name='main'}
<!--搜索和表单-->
<form action="{:url('/admin/user')}" class="pb-3"> <!-- 为http://127.0.0.1:8000/ admin/user.html-->
    <div class="form-row">
        <div class="col-form-label">
            <label for="username">用户名：</label>
        </div>
        <div class="col-2">
            <input type="text" name="userName" id="userName" class="form-control" placeholder="查询的用户名">
        </div>
        <div class="col-form-label">
            <label for="email">电话：</label>
        </div>
        <div class="col-2">
            <input type="text" name="userTelephone" id="userTelephone" class="form-control" placeholder="查询的电话">
        </div>
        <div class="col-form-label">
            <label for="gender">性别：</label>
        </div>
        <div class="col-2">
            <select class="custom-select" name="userSex" id="userSex">
                <option selected value>选择性别...</option>
                <option value="male">男</option>
                <option value="female">女</option>
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">搜索</button>
            <a href="{:url('/admin/user/create')}" class="btn btn-success">添加用户</a>
        </div>
    </div>
</form>

<!-- 数据列表 -->
<table class="table table-bordered">
    <thead class="bg-light main">
        <tr id>
            <th class="text-center {$oderID == 'desc' ? '' : 'dropup'}">
                <a href="{:url('/admin/user')}?&userID={$oderID}" class="dropdown-toggle
                text-secondary text-decoration-none">ID</a>
            </th>
            <th>用户名</th>
            <th>密码</th>
            <th class="text-center">性别</th>
            <th class="text-center">电话</th>
            <th class="text-center">年龄</th>
            <th>地址</th>
            <th class="text-center {$orderTime == 'desc' ? '' : 'dropup'}">
                <a href="{:url('/admin/user')}?&userRegisterTime={$orderTime}" class="dropdown-toggle
                text-secondary text-decoration-none">创建时间</a>
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {assign name="empty" value='<tr>
            <td colspan="9" class="text-center text-muted">没有数据</td>
        </tr>'}
        {volist name="list" id="obj" empty="$empty"}
        <tr>
            <td class="text-center">{$obj.userID}</td>
            <td>{$obj.userName}</td>
            <td>{$obj.userPassword}</td>
            <td class="text-center">{$obj.userSex}</td>
            <td class="text-center">{$obj.userTelephone}</td>
            <td class="text-center">{$obj.userAge}</td>
            <td>{$obj.userAddress}</td>
            <td class="text-center">{$obj.userRegisterTime}</td>
            <td>
                <form action="{:url('/admin/user/'.$obj.userID)}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="'btn btn-danger btn-sm btn-delete">删除</button>
                    <a href="{:url('/admin/user/'.$obj.userID.'/edit')}" class="btn btn-warning btn-sm">修改</a>
                    <a href="{:url('/admin/post/?postUserID='.$obj.userID.'')}" class="btn btn-success btn-sm">查看帖子</a>
                </form>
            </td>
        </tr>
        {/volist}
    </tbody>

</table>

<!-- 分页 -->


{$list|Raw}

{/block}
{block name='js'}
<script type="text/javascript">
    $('.btn-delete').click(() => {
        let flag = confirm('真的要删除这条数据吗？');
        return flag ? true : false;
    })
</script>

{/block}